---
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon/components'

import imageLogo0 from '@images/business-strategy.jpg'

import ContainerSection from '@ui/ContainerSection.astro'
import CardNumeroTituloDescripcion from '../utils/CardNumeroTituloDescripcion.astro'
import {
  SectionMetodologiaTitulo,
  SectionMetodologiaDescripcion,
  SectionMetodologiaItems
} from '@src/lib/SectionMetodologia'

const MetodologiaCard = SectionMetodologiaItems
---

<div class='fondo py-24' id='metodologia'>
  <ContainerSection>
    <div>
      <h2 class='text-center text-3xl font-bold text-white md:text-5xl underline decoration-amber-500'>{SectionMetodologiaTitulo}</h2>
      <p class='mx-auto mt-6 max-w-4xl text-center text-lg font-medium leading-snug text-white/80'>
        {SectionMetodologiaDescripcion}
      </p>
    </div>
    <div class='mt-20'></div>
    <div class='grid grid-cols-1 items-start gap-10 sm:grid-cols-2'>
      <div class='flex items-center justify-center h-full'>
        <figure class='bg-white rounded-xl aspect-[3/4] shadow-xl flex items-center justify-center'>
          <Image src={imageLogo0} alt='Hombre pensativo' class='rounded-lg' width={350} height={350} loading='lazy' />
        </figure>
      </div>
      <div class='flex flex-col gap-8'>
        {
          MetodologiaCard.map((item, index) => (
            <CardNumeroTituloDescripcion icono={item.icono} titulo={item.titulo} descripcion={item.descripcion} />
          ))
        }
      </div>
    </div>
  </ContainerSection>
</div>
