---
import Header from '@src/layouts/components/Header.astro'
import BaseHead from '@layouts/components/BaseHead.astro'
import Themes from 'astro-themes'
import '@styles/global.css'
import Footer from './components/Footer.astro'
import ToggleScroll from './components/ToggleScroll.astro'

const { titulo, tagline, descripcion, imagen, idioma, iconoLogo } = Astro.props
---

<!doctype html>
<html lang={idioma} class='scroll-smooth'>
  <head>
    <Themes defaultTheme='dark' />
    <BaseHead title={titulo} tagline={tagline} description={descripcion} image={imagen} />
  </head>
  <body class='flex min-h-full flex-col font-sans antialiased bg-white text-eden-800 appearance-none'>
    <!--======================== HEADER ========================-->
    <Header iconoLogo={iconoLogo} titulo={titulo} />
    <ToggleScroll />
    <!--========================  MAIN  ========================-->
    <slot />
    <!--======================== FOOTER ========================-->
    <Footer />
  </body>
</html>

<style is:global>
  root: {
    --background-color: #ffffff;
    --text-primary: #00ac8a;
    --text-primary-strong: #115e59;
    --text-primary-medium: #a1b58f;
    --text-primary-accent: #cdddc0;
  }

  [data-theme='light'] {
    --background-color: white;
    --text-color: var(--text-primary-strong);
  }

  [data-theme='dark'] {
    --background-color: white;
    --text-color: var(--text-primary-strong);
  }
</style>
