---
//  =====================  META INFO  ==============================
interface ButtonSecundarioProps {
  href: string
  texto: string
  className?: string
  target?: string
}
// ======================  VALORES POR DEFECTO =====================
const { href = '#', texto = 'Botón', className = '', target = '_blank' } = Astro.props

// =====================  CLASES POR DEFECTO =======================
// const combinedClasses = `w-full rounded-lg bg-jungle-green-600 px-8 py-4 text-sm md:text-lg font-medium text-white transition hover:text-white hover:bg-jungle-green-600 sm:w-auto ${className}`
const combinedClasses = `w-full sm:w-auto text-sm md:text-lg text-white bg-gradient-to-r from-sky-600 via-sky-700 to-sky-800 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-sky-300 dark:focus:ring-sky-900 rounded-lg text-sm px-5 py-2.5 text-center ${className}`
---

<a href={href} target={target} class={combinedClasses}>{texto}</a>
